@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
       
    </style>
</head>
<body>
  <hr />
    <div id="entities">
        <table id="all" cellpadding="10" border="1" width="900" align="center">

        </table>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/MyScripts/GetAllRegions.js"></script>

</body>
</html>
