
@{
    ViewBag.Title = "Index";
}



<html>
<head>
</head>
<body>
    <div align="left" width="30">
        <h2></h2>
    </div>

    <div align="center" width="500">
        <img src="~/Images/cat.png" alt="Cat" width="300" height="255"/>
    </div>

   
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/MyScripts/CatScript.js"></script>
</body>
</html>
    
